#contact {
    max-width: 30rem;
}

#expRow {
    justify-content: space-evenly ;
}

#expCol {
    max-width: 25rem;
    text-align: center;
}

#expIcons {
    max-height: 5rem;
    margin: 0 auto 0 auto;
    display: block;

}

.portThumb {
    max-height: 8rem;
    max-width: auto;
    margin: 0 auto 0 auto;
    display: block;
    border: 2px solid black;
}

h1  {
    margin: 0 auto 0 auto;
    display: block;

}

#footerRow{
    justify-content: center;
    max-width: 100%;
}



.footerIcon {
    margin: 1rem;
    max-height: 3rem;
    max-width: auto;

}

footer {
    background-color: rgb(53,58,64);
    justify-content: center;
}

#recap {
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
}

#theNav{
    background-color: #3B2244;
}

#jumbotron{
    background-color:#105160 ;
    color: mintcream;
}

body{
    background-color:#2D7670;
    color: mintcream;
}

#recapYo{
    background-color:#105160;
}
#conCnm{
    background-color: #CD966B;
}
#footerRow{
    background-color: #3B2244;
    justify-content: center;
}

/*#theNav{*/
/*    background-color: #464239;*/
/*}*/

/*#jumbotron{*/
/*    background-color:#E3E5E0 ;*/
/*}*/

/*body{*/
/*    background-color:#D1B780;*/
/*}*/

/*#recapYo{*/
/*    background-color:#E3E5E0;*/
/*}*/
/*#conCnm{*/
/*    background-color: #DDB040;*/
/*}*/
/*#footerRow{*/
/*    background-color: #464239;*/
/*    justify-content: center;*/
/*}*/